<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Ray Wilson" content="">
    <link rel="icon" href="./images/favicon.ico">

    <title>Cloud Todo List</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="./images/sharp-assignment-24px.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">COMP41110 Cloud Todo List</h1>
      <a th:href="@{${loginURL}}"><img src='./images/btn_google_normal.png' width="191" height="46" onmouseover="this.src='./images/btn_google_focus.png';" onmouseout="this.src='./images/btn_google_normal.png';"/></a>
    </form>
  </body>
</html>
